@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.UPD{
    background-color: $primary-neutral;
    display:flex;
    @include page-padding;
    justify-content: center;

    // @include desktop{
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }

    &__img-block{
        width:45vw;

        @include desktop{
            width: 30%;
            justify-content: right;
            align-items: center;
        }
    }

    &__image{
        background-color: $secondary-dark-color-tint;
        width:20rem;
        height:auto;

        @include desktop{
            justify-content: right;
            align-items: center;
        }
         

    }
    &__details-block{
        flex:1;
        @include desktop{
            justify-content: center;
            align-items: center;
        }
    }
    &__text{
        font-weight: 600;
        &--light{
            font-weight: 400;
        }
    }

}