@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.UPD {
  display: flex;
  justify-content: space-between;
  @include tablet {
    @include page__padding--tablet;
  }
  @include desktop{
    @include page__padding--desktop;
  }


  &__icon {
    display: flex;
    justify-content: right;

  }
  &__wrapper {
    width: 90%;
    display: flex;
  }

  &__img-block {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    @include tablet{
        width:15rem;
        height:15rem;
    }
    @include desktop {
      justify-content: right;
      align-items: center;
    }
  }

  &__image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @include tablet{
        width:15rem;
        height: 15rem;
    }

    @include desktop {
      justify-content: right;
      align-items: center;
    }
  }
  &__details-block {
    padding-left: 1.5rem;

    @include tablet{
        padding-left: 3rem;
    }

  }
  &__text {
    font-weight: 600;
    &--light {
      font-weight: 400;
    }
  }
}
