@use "../../styles/partials/mixins" as*;
@use "../../styles/partials/variables" as *;

.summary{
    background-color: $primary-neutral;
    display:flex;
    flex-direction: column;
    @include page__padding--tablet;

    @include desktop{
        align-items: left;
        padding:0.5rem 10rem;
    }
    
    &__title{
        font-weight: 600;
        font-size: 2rem;
        padding-bottom: 0.5rem;
    }
}

.summary-form{

    &__input-set{
        margin:0.5rem 0;
        display:flex;
        justify-content: space-between;
        width:100%;

        @include desktop{
            justify-content: space-between;
        }

    }
    &__input-set select{
        line-height: 1.5rem;;
    }

    &__label{
        padding-right: 0.25rem;
        font-weight: 600;
        
    }

    &__field{
        @include form-fields;
        &--color{
            background-color: $primary-neutral;
        }
      
    }

    &__textarea{
        resize: none; 
        background-color: $primary-light;
        padding: 0.25rem 1 rem;
        width:40vw;
        height: 30vh;
        border-radius: $border-radius;
        font-family: Roboto;
    }
&__btn-container{
    display: flex;
    justify-content: right;
    padding-top:1rem;
}
}
