@use "./fonts" as *;
@use './variables' as *;

@mixin mobile {
    @media screen and (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }


@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin form-fields{
    line-height: 1.5rem;
    border-radius: 0.5rem;
    background-color: $primary-light;
    padding: 0.25rem 1 rem;
    border-radius: $border-radius;

    &--error{
        outline: 1px solid $error-state;

    }
}

@mixin form-labels{
    font-size: 1rem;
    font-weight: 400;
    padding-top:0.75rem;
    font-family: 'Roboto';
    // margin:0.25rem;



}