$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-neutral: #ECE2D0; // bone
$primary-dark: #191102; //smoky black
$primary-dark-color: #698989; // Juniper
$primary-light: #FFFFFF; //white


//colors
//tints - lighter color
$secondary-neutral-tint: #F3EDE2; //tint of bone
$secondary-dark-color-tint: #c3d0d0; //tint of juniper

//shades --darker colors
$secondary-neutral-shade: #4F3E20; // shade of bone
$secondary-dark-color-shade: #5f7b7b; // shade of juniper

$white-belt: #FCFCFC; 
$blue-belt: #090C9B; 
$purple-belt: #57115F;
$brown-belt: #682E1A;
$black-belt: #000000;

$border-radius: 0.25rem;

$error-state: #FE1426;
  