$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-neutral: #ECE2D0; // bone
$primary-dark: #191102; //smoky black
$primary-dark-color: #476A6F; // payne's gray
$primary-light: #FFFFFF; //white


//colors
//tints - lighter color
$secondary-neutral-tint: #F3EDE2; //tint of bone
$secondary-dark-color-tint: #8FB2B7; //tint of payne' gray

//shades --darker colors
$secondary-neutral-shade: #4F3E20; // shade of bone
$secondary-dark-color-shade: #405E64; // shade of payne's gray

$white-belt: #FCFCFC; 
$blue-belt: #090c9B; 
$purple-belt: #57115F;
$brown-belt: #682E1A;
$black-belt: #000000;


  