@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.summary-list{
    background-color:$secondary-neutral-tint;
    // opacity: .7;
    display:flex;
    justify-content: space-between;


//     &__left{
        
//     }

&__center{
    display:flex;
    flex-direction: column;
    flex:1;

}
 &__center-top{
        display:flex;
        justify-content: space-between;
        
    }
    &__center-bottom {
        display:flex;
        flex-direction: column;

    }

}