@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/variables" as *;

.create-page{
    background-color: $primary-neutral;
    @include page__padding--tablet; 
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    &__wrapper{
        width:90vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
.create-form{
    &__wrapper{
        width:90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
        
    }
    &__input-set{
        @include form-labels;
        display:flex;
        justify-content: space-between;
        width:80vw;

        @include tablet{
           max-width: 760px;
           
        }

    }
    &__field{
        @include form-fields;
     
        &--error{
            outline: 2px solid red;
        }
        
        &--color {
            background-color: $primary-neutral;
            padding-left: -2rem,
        }

        @include tablet {
            width: 500px;
        }
    }
}
.btn-containerCA{
    display:flex;
    flex-direction: row;
    margin-top: 1rem;

}
.btn-main{
    flex-grow: 2;
}