@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  
  @include desktop{
    max-width: 1280px;
    padding:0.5rem 1rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include logo-navSm;

    @include tablet {
      @include logo-navMed;
    }
    @include desktop {
      @include logo-navLg;
    }
  }
 
}