@use "../../styles/partials/mixins" as*;
@use "../../styles/partials/variables" as *;

.nav {
    background-color: $primary-neutral;
    margin:0;
    @include page-padding;
    width:100vw;

    &__wrapper{
        display:flex;
        justify-content: space-between;
        align-items: center;
        @include page-padding;

    }

    &__logo{
        width:30vw;
        height: auto;

    }
    &__link-container{
        display:flex;
        margin: 0 1rem
    }

    &__link{
        text-decoration: none;
        margin:0 0.5rem;
        color: $secondary-dark-color-shade;
    }

    &__link:hover{
        background-color: $secondary-dark-color-tint;
        padding:0.5rem;
        border-radius: 10px;
    }

}
