@use "../../../styles/partials/mixins" as*;
@use "../../../styles/partials/variables" as*;

.add{
    background-color: $primary-neutral;
    @include page__padding--tablet;
    display:flex;
    flex-direction: column;
    
    &__input-wrapper{
        width: 65vw;
        height: 57vh;;
        display:flex;
        flex-direction: column;
        
    }

    &__input-set{
        padding: 0.25rem 0;
        display:flex;
        justify-content: space-between;

    }
    &__label{
        font-weight: 600;
    }

    &__field{
        width:35vw;
        @include form-fields;
    }

    &__textarea{
        width:35vw;
        height: 30vh;
        resize: none; background-color: $primary-light;
        padding: 0.25rem 1 rem;
        width:40vw;
        border-radius: $border-radius;
        font-family: Roboto;
    
        &--error{
            outline: 2px solid $error-state;
    
        }
    }
    &__btn-container{
        display:flex;
        
    }
}

