@use "../../../styles/partials/mixins" as*;
@use "../../../styles/partials/variables" as*;

.add{
    background-color: $primary-neutral;
    @include page__padding--tablet;
    display:flex;
    flex-direction: column;
    
    &__input-wrapper{
        display:flex;
        flex-direction: column;

        @include desktop{
            @include page__padding--desktop;
        }
    }

    &__input-set{
        padding: 0.5rem 0;
        width: 100%;
        display:flex;
        justify-content: space-between;

        @include desktop{
          padding: 0.5rem 8rem;
        }
    }

    &__label{
        font-weight: 600;
    }

    &__field{
        width: 50%;
        @include form-fields;
    }

    &__textarea{
        width:50vw;
        height: 30vh;
        resize: none; background-color: $primary-light;
        padding: 0.25rem 1rem;
        width:40vw;
        border-radius: $border-radius;
        font-family: Roboto;
    
        &--error{
            outline: 2px solid $error-state;
    
        }
    }
    &__btn-container{
        display:flex;
        
    }
}

