@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.page{
    background-color: $primary-neutral;
    @include page__padding--tablet;
  
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
//   max-height: 25%;
  justify-content: center;

 
  &__img{
    width:30%;

    &--animation{
        animation:rotate 5s;
  
    }
  }
}

.link{
    display:flex;
    justify-content: center;
    padding-top:1rem;

    a{ 
        text-decoration: none;
        color:$primary-dark-color;
    }
    
    &__text{
        padding-right:1rem
    }
}

@keyframes rotate {
    from{}
    to{transform: rotate(360deg)}
}