@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.active {
  background-color: $primary-light;

}
.navLinks {
  &__container {
    display: flex;
    flex-direction: column;
    justify-items: end;
    background-color: $secondary-dark-color-tint;

    @include tablet {
      flex-direction: row;
      background-color: $primary-neutral;
    }
  }

  &__link {
    text-align: end;
    text-decoration: none;
    margin: 0 0.25rem;
    padding:0.5rem;
    border-radius: $border-radius;
    color: $primary-dark-color;
    background-color: $secondary-dark-color-tint;
    @include font__size--mobile;

    @include tablet {
      @include font__size--tablet;
      background-color: $primary-neutral;
    }
  }

}
